{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:prettier/recommended",
    "plugin:jsx-a11y/strict"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "react", "jsx-a11y", "@typescript-eslint"
  ],
  "rules": {
    "no-var": "error",
    "prettier/prettier": "error",
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "no-console": ["error", { "allow": ["warn", "error"] }],
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "error",
    "react-hooks/exhaustive-deps": "off"
  },
  "overrides": [
    {
      "files": ["*.ts","*.tsx"],
      "rules": {
        "no-undef": 0
      }
    }
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  }
}