@font-face {
    font-family: 'Futura Book';
    src: url('./fonts/FuturaBookC.eot');
    src: url('./fonts/FuturaBookC.eot?#iefix') format('embedded-opentype'),
    url('./fonts/FuturaBookC.woff') format('woff'),
    url('./fonts/FuturaBookC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
}

.constant-tilt-shake {
    animation: tilt-shaking 0.6s;
    animation-iteration-count: 1;
}